* {
	border-style: hidden;
	min-height: 10px;
}

#email, #password, #username{
  border-style: solid;
  border-width: 1px;
}
body{
  background: linear-gradient(to right, #5f1f1f, #000000);
  background-size: 300% 100%;
  animation: gradient 10s ease infinite;
}
#hero {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  object-fit: cover;
  position: relative;
}

.heroDiv {
  width: 100%;
  height: screen;
}

.overlay {
  background-color: black;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.screen {
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -96%);
  padding-bottom: 13%;
  padding-top: 10%;
  width: 65.5%;
  height: 65vh;
  max-height: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

@media (max-width: 600px) {
  .screen {
    padding-top: 35%;
    width: 150%;
    left: 25%;
  }
}

.navbar {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 4px;
  align-items: center;
}
.logo {
  color: white;
  font-weight: bold;
  font-size: 2rem;
  z-index: 20;
  text-decoration: none;
}
.logo:hover{
  color: white;
}

#menu {
  z-index: 40;
  color: white;
  cursor: pointer;
  position: relative;
}

.fullScreen {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 25%;
  left: 25%;
  z-index: 6;
  transform: scale(1);
  opacity: 1;
  transition: 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  
  
}
.fullScreenA{
  background: linear-gradient(to right, #5f1f1f, #000000);
  background-size: 300% 100%;
  animation: gradient 10s ease infinite;

}

@media screen and (max-width: 400px) {
  .fullScreen {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }
}

.menuItem {
  font-weight: bold;
  font-size: 1rem;
  color: white;
  z-index: 40;
}

.login {
  font-size: 15pt;
  align-items: center;
}
#image {
  width: 100%;
  position: absolute;
  margin-top: -10px;
}
#email {
  
  font-size: 14pt;
}
#password {
  font-size: 14pt;
}
#search-movie-input {
  width: 400px;
}
.drop {
  margin-left: 95%;
}

.footer {
  background:none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    color: white;
    z-index: 1;
  }

.text-center fw-bold fs-2 mt-3 {
  position: fixed;
}

.d-flex {
  margin: 0 auto;
  opacity: 1;
}

.line {
  border: 0;
  background-color: rgb(119, 118, 118);
  height: 1px;
  cursor: pointer;
  width: 100%;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  margin-top: 100px;
  max-width: 1700px;
  opacity: 1;
}

.link-primary {
  cursor: pointer;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


@media only screen and (max-width: 600px) {
  .bgPic {
    background-size:cover;
  }
}

#searchBar {
  color: white;
}
#list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  width: 100%;
  opacity: 1;
}
@media only screen and (max-width: 600px) {
  #list {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
#favoriteTitle{
  color: white;
}
